services:
  cache:
    image: redis:7.4-alpine
    restart: always
    ports:
      - "6379:6379"
    command: ["redis-server", "--requirepass", "${REDIS_PASSWORD}"]
    volumes:
      - cache:/data

  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: kalamna-api
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      DATABASE_URL: ${DATABASE_URL}
      JWT_SECRET: ${JWT_SECRET}
      JWT_ALGORITHM: ${JWT_ALGORITHM:-HS256}
      REDIS_URL: redis://:${REDIS_PASSWORD}@cache:6379
    restart: unless-stopped
    depends_on:
      - cache

volumes:
  cache:
    driver: local
