name: CI

on:
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt

      - name: Run docker
        run: |
          docker compose down || true
          docker compose up -d

      - name: Run Ruff
        run: python -m ruff check .
        #    ^^^^^^^^^^^^^
        # use the ruff that was installed by pip for this python

      - name: Run tests
        run: python -m pytest
