name: CI

on:
  push:
    branches: [ master, setup ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: "pip"

      - name: run docker 
        run: |
          docker compose down
          docker compose up -d

      - name: Ruff lint
        run: ruff check .

      - name: Run tests
        run: pytest
